<!-- TEMPLATE     : 'ABOUT'                         -->
<!-- AUTHOR       : Tomas Stucinskas a.k.a Baboon   -->
<!-- EMAIL        : baboon@ai-hq.com                -->
<!-- Modified by  : Peter Jones a.k.a »TÐÖ« Ãzràél  -->
<!-- EMAIL        : azrael@tdosquad.co.uk           -->
<!-- WEBSITE      : http://www.tdosquad.co.uk       -->
<!-- FINALIZED    : 12th June 2005                  -->

<style>
<!--
.forumline	{ background-color: #444444; border: 2px #f6e330 solid; }

td { font-family: Verdana, Arial, Helvetica, sans-serif }
td.catRight {
			background-image: url('http://www.babstats.com/forums/templates/Babstats/images/cellpic1.gif');
			background-color:#4a2606; border: medium solid #FFFFFF; height: 28px
}

td.catRight	 { border-width: 0px 1px 0px 0px; }
.gen { font-size : 12px; }
.gen { color : #b29b52; }
-->
</style>

<img src="{base}templates/logo.gif" border="0">

<p class="title">BABstats. Chronos Credits</p>

<p>
  <b>Tomas Stucinskas a.k.a Baboon</b> (Original Author of the Uploader and Server scripts)<br>
  <b><br>
  Avenger</b> - provided several game servers to test the programs, and overall helped a lot<br>
</p>

<p>
  <b>Dancer</b> - helped with testing of the programs<br>
</p>

<p>
  <b>RED BULL</b> - rank and weapon images.<br>
</p>

<p>
  <b>CONDA</b> - provided a very important info on BHD internals<br>
</p>

<p>
  <b>Folk at chancellor.ai-hq.com</b> - for useful information and other help<br>
</p>

<br>
<p class="title">Neos.Chronos Credits</p>

<p>
  <b>Peter Jones a.k.a »TÐÖ« Ãzràél</b> (Modifier of the Server scripts)<br>
  &nbsp;</p>

<p>
  <b><br>
  </b>Neos.Chronos v1.9.0 Credits</p>

<p>
  <b>Shark -oZi- </b>(Modifier of the Server scripts)<br>
  <b>Sinep </b>(Modifier of the Server scripts &amp; responsible for fixing the PHP 
  4.4.x bug)</p>

<p>
  Support staff and beta testers for without these guys none of this could be 
  possible</p>

<p>
  <b>His Mother<br>
  Fire<br>
  l0_zero_l0<br>
  Cherokee<br>
  Cpt Nader<br>
  Archimedes</b><br>
&nbsp;</p>

<p>
  And to all the members of the babstats forum for all their idea and input to 
  this community effort.</p>

<p>
  Babstats will continue to grow with the needs of the community to the best of 
  its ability.</p>

<p>
  Look for more new and exciting updates in the near future.</p>


<div style="visibility:hidden; font-size:xx-small;">monthlystats/templates/about.htm 1.0.0</div>