<!-- TEMPLATE  : 'ADMIN/START'                  -->
<!-- AUTHOR    : Peter Jones a.k.a »TÐÖ« Ãzràél -->
<!-- EMAIL     : azrael@tdosquad.co.uk          -->
<!-- FINALIZED : 1st May 2005                   -->

<style type="text/css">
<!--
.style2 {color: #EEAA50}
.style3 {
	color: #FFFFFF;
	font-weight: bold;
}
.style4 {
	color: #FFFFFF;
	font-size: 12px;
}
-->
</style>



    <body bgcolor="#000000">



    <table width="60%" height="100%" align="center" border="0" cellspacing="0" cellpadding="4">
      <tr class="start">
        <td valign="top" align="center">
          <span class="style3">Welcome to Neos.Chronos Administration</span><br>
		  <span class="style2">----------------------------------------------------------------------------</span><br>
		  <br>		  
		  <span class="style4">Here you will be able to use various features to administer your Chronos Stats, these features include:</span>
          <br>
		  <br>
		  <table width="370" class="style4" >
             <tr>
                <td width="364" bgcolor="#000000">
	               <p align="center"><font color="#FF0000">* New Feature</font></td>
             </tr>
             <tr>
                <td width="364" bgcolor="#000000">
	               <span class="style2">*</span> Delete players/squads, <br>
                   <span class="style2">*</span> Edit players/squads, <br>
                   <span class="style2">*</span> Delete maps/map stats, <br>
                   <span class="style2">*</span> Upload images for maps, <br>
		           <span class="style2">*</span> Reset weapon stats, <br>
		           <span class="style2">*</span> Add/edit/delete servers, <br>
		           <span class="style2">*</span> Add/edit/delete ranks, <br>
		           <span class="style2">*</span> Add/edit/delete awards, <br>
		           <span class="style2">*</span> Reset/repair/prune database,<br>
                   <b><font color="#FF0000">*</font></b> <font color="#FF0000">
                   Database backup feature,<br>
&nbsp;&nbsp; (make sure backup folder permissions are set to 777)</font><br>
		           <span class="style2">*</span> Merge players, <br>
			       <span class="style2">*</span> Plus more....
	            </td>
             </tr>
          </table>
		  <br>
		  <br>
		  <span class="style4">For help with the usage of any features in this 
          section go to the support forums at 
          <a target="_blank" href="http://www.babstats.com">
          <font color="#FFFFFF">www.babstats.com</font></a></span><a target="_blank" href="http://www.babstats.com"><font color="#FFFFFF">
          </font></a>
         </td>
       </tr>
     </table>
	 
<div style="visibility:hidden; font-size:xx-small;">templates/admin/admin_start.htm 1.0.0</div>