<center>
{errMsg}
{fileStatus}

<table border="0" cellspacing="2" cellpadding="1" class="tableheader">
	<tr>
		<td valign="top">
			<table border="0" cellspacing="2" cellpadding="1" class="tableheader">
			<tr class="tableheader">
			<td>Standard Files</td>
			<td>Version</td>
			<td>Status</td>
			</tr>
			{fileList}
			</table>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td valign="top">
			<table border="0" cellspacing="2" cellpadding="1" class="tableheader">
			<tr class="tableheader">
			<td>Admin Files</td>
			<td>Version</td>
			<td>Status</td>
			</tr>
			{fileList2}
			</table>
		</td>
	</tr>
	{updateButton}
</table>
</center>
<div style="visibility:hidden; font-size:xx-small;">/emplates/admin/fileupdate.htm 1.0.0</div>