<!-- TEMPLATE     : 'FAQ'                           -->
<!-- AUTHOR       : Peter Jones a.k.a »TÐÖ« Ãzràél  -->
<!-- EMAIL        : azrael@tdosquad.co.uk           -->
<!-- WEBSITE      : http://www.tdosquad.co.uk       -->
<!-- FINALIZED    : 8th May 2005                    -->

<!-- MAIN BLOCK -->
<block name="main">
<p class="title">Frequently Asked Questions</p>

<table width="600">
  <tr class="tablerow1" valign="top">
    <td width="25" align="right"><span class="red">1.</span></td>
    <td width="250" align="left"><span class="red">How are the player game levels calculated?</span></td>
    <td width="309" align="left"><span class="red"><p>The game levels are calculated by taking gametype dependant criterias for each gametype, dividing each criteria by a set number, then calulating the total value by the number of criteria. For instance, the game level calculation for TDM would be:</p>
    <p>(Games played divided by 10)<br> +<br> (number of hours played)<br> +<br> (kills divided by 100)<Br> +<br> 
      (PSP takeovers divided by 10)<br><br> divided by 4.</p>
    <p>The number of criteria used, what criteria is used and what division values are used are different for each gametype.</p></span></td>
  </tr>
  <tr class="tablerow2" valign="top">
    <td align="right">2.</td>
    <td align="left">How are the player weapon levels calculated? </td>
    <td align="left">The weapon levels are calulated by taking the total kills for any weapon for a player, Dividing the number of kills by a set value which is dependant on weapon type. </td>
  </tr>
  <tr class="tablerow1" valign="top">
    <td align="right"><span class="red">3.</span></td>
    <td align="left"><span class="red">How do i get listed in the HOF?</span></td>
    <td align="left"><span class="red"><p>If the admin has set the criteria to be used and the values for each, then you will be able to gain entry into the hof by reaching the values of the set criteria. The criteria which can be set is as follows:</p>
    <p>Team games played or won.<br>
    Rating Points.<br>
    Hours Played.<br>
    Game Awards gained.<br>
    Weapon Awards gained.<br>
    Kills gained.</p></span></td>
  </tr>
  <tr class="tablerow2" valign="top">
    <td align="right">4.</td>
    <td align="left">I scored higher than someone else during last month, but he got the month award. Why? </td>
    <td align="left">To qualify for a month award, you must have played atleast a quarter of the time, the person with the most played time for that month has played. </td>
  </tr>
  <tr class="tablerow1" valign="top">
    <td align="right"><span class="red">5.</span></td>
    <td align="left"><span class="red">How do i get Member Of The Month?</span></td>
    <td align="left"><span class="red">You get the MOTM award by gaining more monthly awards than anyone else for that month.</span></td>
  </tr>
  <tr class="tablerow1" valign="top">
    <td align="right">6.</td>
    <td align="left">Why are my Claymore kills not showing?</td>
    <td align="left">When you get a kill with a claymore you have placed, the uploader registers that kill with whatever weapon you are holding at the time of the kill. So for instance, if you lay a clay and someone walks into it and gets killed while you have the Car15 selected, then it will register as a Car15 kill.</td>
  </tr>
</table>
<p>&nbsp;</p>
</block name="main">

<div style="visibility:hidden; font-size:xx-small;">templates/faq.htm 1.0.0</div>