<style type="text/css">
<!--
body {
	background-color: #333333;
}
-->
</style>

<table width="385" height="185">
  <tr>
    <td align="center">
	    <font style="font-family:Tahoma; font-size:14px; font-weight:bold; color:#FFFFFF;">
			Updating Files.....
		</font>
		<br /><br />
		<img src="rec.gif" width="64" />
		<br /><br /><br />
		<font style="font-family:Tahoma; font-size:9px; font-weight:bold; color:#FFFFFF;">
			This window will close automatically once all files have been updated!
		</font>
	</td>
  </tr>
</table>
